.tab {
	font-size: 10px;
	max-width: 800px;
	width: 100%;
	padding: 0 15px;
}
.tab__filter {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 25px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}
.tab__filter__item {
	font-size: 1.8em;
	font-weight: 300;
	font-family: inherit;
	flex: 1 0 auto;
	padding: 10px 30px;
	text-align: center;
	cursor: pointer;
	border-bottom: 1px solid transparent;
	transition: border-color .3s ease;
	letter-spacing: 2px;
	position: relative;
	user-select: none;
	&:after {
		content: '';
		background-color: #999;
		bottom: -2px;
		left: 0;
		width: 100%;
		height: 2px;
		position: absolute;
		transition: all .3s ease-out;
		transform: scaleY(0) scaleX(.9);
	}
	&:hover:after {
		transform: scaleY(1);
	}
	&._active:after {
		transform: scaleY(1);
		background-color: #222;
	}
}
.tab__content {
	width: 100%;
}
.tab__content__item {
	max-width: 100%;
	word-break: break-word;
	display: none;
  	animation: fadeEffect .4s ease-in; /* Fading effect takes 1 second */
  	p {
  		font-size: 1.6em;
  		font-weight: 400;
  		font-family: inherit;
  		line-height: 1.8;
  		letter-spacing: 1px;
  	}
  	&._active {
  		display: block;
  	}
  }

/* Go from zero to full opacity */
@keyframes fadeEffect {
	0% {opacity: 0;transform: scale(.95);}
	100% {opacity: 1;transform: scale(1);}
}
@media(max-width: 768px) {
	.tab {
		font-size: 8px;
	}
}
