$h_text: #D0D0D0;
$h_back: #fff;
$h_contrast: #fff;
$h_back_contrast: #1C1C1C;
$h_decoration: #5E5E5E;
$h_height: 6rem;
$h_secondary: #A3A3A3;
$h_search_duration: .2s;
$md_1: 992px;
$md_2: 768px;
// mixin адаптивное свойство
$maxWidth: 1920;
$maxWidthContainer: 1180;
@mixin response($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;
	@if $type==1 {
		// Если меньше контейнера
		#{$property}: $startSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $type==2 {
		// Только если больше контейнера
		#{$property}: $startSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	} @else {
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

html {
	font-size: 10px;
	max-width: 100%;
	width: 100%;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	color: $h_text;
	font-weight: 400;
	max-width: 100%;
	width: 100%;
	position: relative;
	background-color: $h_back;
}
a {
	color: inherit;
	text-decoration: none;
	user-select: none;
}
li {
	list-style-type: none;
}
.wrapper {
	width: 100%;
	position: relative;
}
.container {
	max-width: $maxWidthContainer + px;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: content-box;
	position: relative;
}
.main {
	padding-top: calc($h_height + 20vh);
}
.main__block {
	background: rgb(36 106 184 / 15%);
	h2 {
		font-weight: 500; 
		color: #333;
	}
	p {
		color: #000;
		font-weight: 400;
	}
}
.main__block_v1 {
	@include response('padding', 50, 15, 1);

	h2 {
		@include response('margin-bottom', 20, 5, 1);
		@include response('font-size', 40, 20, 1);
	}
	p {
		
		@include response('font-size', 17, 14.5, 1);
		@include response('line-height', 30, 22, 1);
	}
}
// header
.h_search_hide {
	transition-property: transform, opacity;
	transition-duration: $h_search_duration;
	transition-timing-function: ease-out;
}
@keyframes header_fixed {
	0% {
		transform: translateY(-110%);
	}
	100% {
		transform: translateY(0%);
	}
}
.header {
	height: $h_height;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
	transition: .4s;
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		background-color: $h_back_contrast;	
	}
	&._fixed {
		position: fixed;
		animation: header_fixed .4s ease-in-out;
	}
	&._hide {
		transform: translateY(-110%);
	}
}
.header__wrapper {
	display: flex;
	align-items: center;
	height: 100%;
}
.header__logo {
	color: $h_contrast;
	font-weight: 400;
	@include response('font-size', 16, 13.5, 1);
	line-height: 20px;
	letter-spacing: 2px;
}
.header__list__container {
	flex: 1 1 auto;
}
.header__list {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 5.8rem;
	li {
		a {
			position: relative;
			z-index: 2;
			transition: .2s;
			@media (any-hover: hover) {
				&:hover {
					color: $h_contrast;
				}
			}
		}
		&:active a{
			opacity: 0.8;
		}
	}
}
.header__icons {
	display: flex;
	column-gap: 3rem;
	height: 100%;
}
.h_def_svg {
	@include response('width', 20, 17.5, 1);
	@include response('height', 20, 17.5, 1);
	fill: $h_text;
}

.header__icon {
	height: 100%;
	padding: 0 1.7rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	@media (any-hover: hover) {
		cursor: pointer;
		.h_def_svg {
			transition: fill .2s ease-out;
		}
		transition-property: transform, opacity;
		&:hover {
			cursor: pointer;
			.h_def_svg {
				fill: $h_contrast;
			}
		}
		&:active {transform: scale(0.9);}
		
	}
}
.header__icon_search {
	svg {
		pointer-events: none;
	}
}
.h_search_hide__hide {
	opacity: 0;
	transform: scaleX(0.9) translateX(-15px);
}
.header__search {
	width: calc(100% - 25px);
	position: absolute;
	left: 50%;
	top: 0;
	max-width: 725px;
	border-radius: 0;
	background-color: $h_back_contrast;
	z-index: 10;
	visibility: hidden;
	opacity: 0;
	transform: scaleX(0.94) translateX(-50%);
	transition: all $h_search_duration * 2 ease-out, border-radius $h_search_duration * 5 ease;
	input {
		transform: translateX(-60%);
	}
	&._show {
		border-radius: 0px 0px 3rem 3rem;
		opacity: 1;
		transform: translateX(-50%);
		transition-delay: $h_search_duration * 1.5;
		visibility: visible;
		input {
			transform: none;
			transition-delay: $h_search_duration * 1.5;
		}
		.header__search__input {
			.icon_close {
				transform: none;
				transition-delay: $h_search_duration * 4;
			}
		}
	}
}
.icon_close {
	position: relative;
	width: 2.2rem;
	height: 2.2rem;
	cursor: pointer;
	&:after, &:before {
		content: '';
		background-color: $h_contrast;
		height: 2.2rem;
		width: 1px;
		transform: rotate(45deg);
		position: absolute;
		left: 50%;
		top: 0%;
		transition: transform .3s ease;
	}
	&:before {
		transform: rotate(-45deg);
	}
	&:after {
	}
	@media (any-hover: hover) {
		&:hover {
			&:after {transform: rotate(-45deg);}
			&:before {transform: rotate(45deg);}
		}
	}
}
.header__search__input {
	height: $h_height;
	display: flex;
	position: relative;
	overflow-x: hidden;
	width: 100%;
	margin: 0 auto;
	&__icon {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	&__el {
		background-color: transparent;
		outline: none;
		border: none;
		width: 100%;
		padding-left: 4.8rem;
		font-size: 16px;
		color: $h_contrast;
		transition: transform $h_search_duration * 2 ease-out;
		&:placeholder {
			font-family: inherit;
			font-weight: 400;
			color: $h_secondary;
			font-size: 16px;
			letter-spacing: 1px;
		}
	}
	.icon_close {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 4.5rem;
		transform: translateX(110%);
		transition: transform $h_search_duration * 1 ease;
		&:after, &:before {
			top: 2rem;
		}
	}
}

.header__search__list {
	border-top: 1px solid $h_decoration;
	padding: 3.8rem 5rem 6.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	&__subtitle {
		color: $h_secondary;
		margin-bottom: 0.9rem;
		font-weight: normal;
		font-size: 1.6rem;
		letter-spacing: 1px;
	}
	
	&__item {
		display: block;
		&:last-child a{padding-bottom: 0;}
		a {
			display: inline-block;
			color: $h_contrast;
			font-weight: normal;
			font-size: 16px;
			line-height: 20px;
			letter-spacing: 1px;
			position: relative;
			padding: 1.1rem 1rem;
			padding-left: 0;
			&:after {
				content: '';
				position: absolute;
				right: -25px;
				top: 50%;
				width: 25px;
				height: 1px;
				background-color: $h_contrast;
				margin-top: -0.5px;
				transform: scaleX(0);
				transition: transform .5s ease-out;
			}
		}
		@media (any-hover: hover) {
			&:hover a:after {
				transition-duration: .2s;
				transform: scaleX(1);
			}
		}
	}	
}

._mobile_show {
	display: none;
}
.burger__mobile_icons {
	position: absolute;
	padding-top: $h_height;
	top: calc( 100px + (124 - 100) * (100vw - 320px) / (992 - 320) );
	left: calc( 10px + (29 - 10) * (100vw - 320px) / (992 - 320) );
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 28px;
	.header__icon {
		position: relative;
		padding: 5px;
		padding-left: 0;
		&:after {
			content: '';
			position: absolute;
			right: -2rem;
			top: 50%;
			margin-top: -2.5px;
			width: 5px;
			height: 5px;
			background-color: $h_secondary;
			opacity: 0.5;
			border-radius: 50%;
		}
	}
}
@media (max-width: $md_1) {
	.header__search {
		z-index: 104;
	}
	.burger__container, .header__icons {
		flex: 0 0 134px;
	}
	.burger {
		position: relative;
		width: 40px;
		height: $h_height;
		background-color: transparent;
		border: none;
		outline: none;
		&:after, &:before {
			content: '';
			position: absolute;
			left: 0;
			width: 80%;
			height: 1px;
			background-color: $h_secondary;
			transition: .25s;
		}
		&:after {
			top: 40%;
		}
		&:before {
			bottom: 40%;
		}
	}
	._mobile_show {
		display: block;
	}
	._mobile_hide {
		display: none;
	}
	.header:after {
		z-index: 100;
	}
	.header__list__container {
		padding-top: calc( 50px + (124 - 50) * (100vw - 320px) / (992 - 320) );
		position: fixed;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba($h_back_contrast, 0.9);
		backdrop-filter: blur(3px);
		z-index: 100;
		transform: translateY(-100%);

		transition: all .36s ease-out;
	}
	.header__list {
		display: block;
		text-align: center;
		padding-top: $h_height;
		li {
			display: block;
			text-align: center;
			font-size: 18px;
			padding: 2.1rem 0;
		}
	}
	
	.header__logo {
		flex: 1 1 100%;
		text-align: center;
	}
	._burger_open_show {
		z-index: 101;
	}
	body._burger_open {
		overflow: hidden;
		.header__list__container {
			transform: translateY(0);
		}
		.burger {
			&:after {
				margin-top: -1px;
				top: 50%;
				transform: rotate(45deg);
			}
			&:before {
				bottom: 50%;
				transform: rotate(-45deg);
			}
		}
	}
}
.header__list_mobile_title {
	display: none;
}
@media (max-width: $md_2) {
	.dropdown_menu__item>.dropdown_menu__item__submenu {
		width: unset;
		min-width: 225px;
	}
	body._burger_open {
		._burger_open_hide {
			display: none;
		}
		
	}
	.header__wrapper {
		justify-content: space-between;
	}
	.burger__container, .header__icons {
		flex: unset;
	}
	html {
		font-size: 8.5px;
	}
	.header__list_mobile_title {
		display: inline-block;
		position: relative;
		margin-bottom: calc( 15px + (65 - 15) * (100vw - 320px) / (768 - 320) );
	}
	.header__list_mobile_title a{
		font-weight: normal;
		font-size: 2.6rem;
		line-height: 22px;
		letter-spacing: .7rem;
	}
	.header__list_mobile_title__decor {
		position: absolute;
		top: 0;
		width: 4.4rem;
		left: -5.4rem;
		height: 22px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		span {
			background-color: $h_secondary;
			width: 100%;
			height: 1px;
			opacity: 0.5;
			&:nth-child(1) {width: 62.5%;}
			&:nth-child(2) {width: 70%;}
		}
	}
}


// header end

// dropdown menu
.main__block_v2 {
	margin-top: 5rem;
	@include response('padding', 30, 15, 1);
}
.dropdown_menu {
	color: $h_back_contrast;
	display: flex;
	column-gap: 7rem;
	row-gap: 2rem;
	flex-wrap: wrap;
	justify-content: center;
	&__item {
		@include response('font-size', 26, 16, 1);
		font-weight: 500;
		padding: 1rem 40px 1.6rem 1.5rem;
		position: relative;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		button {
			display: none;
		}
		> .dropdown_menu__item__submenu {
			opacity: 0;
			visibility: hidden;
			transform: scaleY(0.8);
			max-width: 100vw;
			width: 380px;
			position: absolute;
			left: 0;
			@include response('padding-right', 20, 10, 1);
			@include response('padding-left', 25, 15, 1);
			top: 100%;
			min-height: 150px;
			padding-top: 1rem;
			padding-bottom: 2rem;
			z-index: 10;
			background-color: #fff;
			box-shadow: 0 0 0 4px rgba(0,0,0,0.2);
			@include response('font-size', 22, 15, 1);
			transition: .3s;
		}
		.dropdown_menu__item__submenu__item {
			padding: 6px 10px;
			position: relative;
			max-width: 100%;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}
		@media (any-hover: none) {
			.btn_svg_dropdown {
				display: inline-block;
				background: transparent;
				border: none;
				outline: none;
				padding-top: 2px;
				padding-left: 6px;
				transition: transform .25s ease;
				.svg_arrow_dropdown {
					pointer-events: none;
					fill: #555;
					@include response('width', 32, 25, 1);
					height: auto;
					@include response('max-height', 32, 25, 1);
				}
				&:active {
					transform: translateY(5px) scale(.97);
				}
			}
			&>.dropdown_menu__item__submenu._active {
				opacity: 1;
				visibility: visible;
				transform: scaleY(1);
			}
		}
		@media (any-hover: hover) {
			transition: background-color .25s ease;
			.dropdown_menu__item__submenu__item:hover {
				background-color: rgba(0,0,0,0.08);
			}
			&:hover {
				background-color: rgba(0,0,0,0.08);
				> .dropdown_menu__item__submenu {
					opacity: 1;
					visibility: visible;
					transform: scaleY(1);
				}
			}
		}
		

	}
}
@media (min-width: $md_1) {
	.dropdown_menu__item__submenu__hideshow {
		opacity: 0;
		visibility: hidden;
		max-width: 100vw;
		width: 320px;
		position: absolute;
		right: -100%;
		top: 0;
		padding: 0 15px;
		min-height: 150px;
		padding-top: 1rem;
		padding-bottom: 2rem;
		background-color: #222;
		color: #ddd;
		transition: .35s;
	}
	body._desktop {
		.dropdown_menu__item__submenu__item:hover {
			.dropdown_menu__item__submenu__hideshow {
				opacity: 1;
				visibility: visible;

			}
		}
	}
	body._mobile {
		.dropdown_menu__item__submenu__hideshow._active {
			opacity: 1;
			visibility: visible;
		}
	}
}
@keyframes maxHeight {
	0% {
		opacity: 0;
		transform: scaleY(0);
	}
	30% {
	}
	100% {
		opacity: 1;
		transform: scaleY(1);
	}
}
@media (max-width: $md_1) {
	.dropdown_menu {
		display: block;
	}
	.dropdown_menu__item__submenu__hideshow {
		flex: 0 0 100%;
		display: none;
		width: 100%;
		margin-top: 15px; 	
		transition-duration: .6s;
		transition-delay: .15s;
		max-height: 600px;
		padding: 0 15px;
		overflow: auto;
		padding-top: 1rem;
		opacity: 1;
		padding-bottom: 2rem;
		color: #222;
		transition-property: all;
		transition-duration: 1s;
		transition-timing-function: ease;
		background-color: #fff;
	}
	body._desktop {
		.dropdown_menu__item__submenu__item:hover {
			.dropdown_menu__item__submenu__hideshow {
				display: block;
				animation: maxHeight .3s ease;
			}
		}
		.dropdown_menu__item:hover {
			.dropdown_menu__item__submenu {
				display: block;
				animation: maxHeight .3s ease;
			}
		}
	}
	body._mobile {
		.dropdown_menu__item__submenu__hideshow._active {
			display: block;
			animation: maxHeight .3s ease;
			background-color: rgba(0,0,0,0.07);
		}
		.dropdown_menu__item__submenu._active {
			display: block;
			animation: maxHeight .3s ease;
		}
		.dropdown_menu__item__submenu {
			position: relative;
			top: 0;
			flex: 0 0 100%;
			display: none;
			width: 100%;
		} 
	}

}

// dropdown menu end
// sidebar
.sidebar {
	position: fixed;
	max-width: 400px;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
	height: 100vh;
	background: rgba(4, 2, 14, 0.95);
	transform: translateX(-100%);
	visibility: hidden;
	transition: .5s;
	&._active {
		transform: translateX(0);
		visibility: visible;
	}
}
.sidebar__close {
	position: absolute;
	top: 2.5rem;
	right: 1.8rem;
	border-radius: 50%;
	border: 1px solid rgba(255,255,255,.2);
	width: 5.5rem;
	height: 5.5rem;
	transition: .4s;
	&:after, &:before {
		content: '';
		position: absolute;
		top: 25%;
		height: 50%;
		left: 50%;
		width: 1.2px;
		background-color: #fff;
	}
	&:after {
		transform: rotate(45deg);
	}
	&:before {
		transform: rotate(-45deg);
	}
	@media (any-hover: hover) {
		&:hover {
			transition-duration: .15s;
			background-color: #fff;
			cursor: pointer;
			&:before, &:after {background-color: #000;}
		}
	}
	&:active {
		transition-duration: .15s!important;
		transform: scale(0.9);
	}
}
.sidebar__items {
	@include response('padding-top', 160, 130, 1);
	max-height: 100%;
	overflow: auto;
	@media (any-hover: hover) {
		&::-webkit-scrollbar {
			width: 7.5px; 
			background-color: rgba(#fff, 0.15);
		}
		&::-webkit-scrollbar-thumb {
			background-color: #666;
			border-radius: 10px;
		}
	}
}
.sidebar__item {
	font-weight: normal;
	font-size: 2rem;
	line-height: 24px;
	letter-spacing: 2px;
	color: #FFFFFF;
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	&:not(:nth-child) {
		margin-bottom: 1.6rem;
	}
	> a {
		padding: 2.2rem 0;
		@include response('padding-left', 45, 15, 1);
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 2px;
		flex: 1 1 auto;
		height: 100%;
		color: #FFFFFF;
		@include response('font-size', 20, 16, 1);
		@media (any-hover: hover) {
			transition: color .2s ease;
			&:hover {
				color: #73ffd7;
			}
		}
	}
}
.sidebar__open {
	border: none;
	background-color: transparent;
	outline: none;
	transition: .2s;
	height: 100%;
	padding: 0 15px;
	@include response('margin-right', 30, 30, 1);
	height: 100%;
	@media (any-hover: hover) {
		&:hover {
			background-color: rgba(255,255,255,.08);
		}
	}
	&:active {
		transform: scale(0.9);
	}
	svg {
		pointer-events: none;
		transition: transform .3s ease;
	}
	&._active {
		svg {
			transform: rotate(180deg);
		}
	}
}
.sidebar__icon {
	fill: #fff;
	width: 24px;
	height: 24px;
}
.sidebar_btn {
	position: relative;
	width: 6rem;
	height: 6rem;
	border-radius: 30px;
	background-color: #222;
	z-index: 100;
	border: none;
	outline: none;
	position: fixed;
	bottom: 10px;
	left: 10px;
	cursor: pointer;
	transition: transform .25s ease;
	&:after, &:before {
		content: '';
		position: absolute;
		top: calc(50% - 0.5rem);
		left: 50%;
		width: 50%;
		height: 1px;
		margin-left: -25%;
		background-color: #fff;
	}
	&:after {
		margin-bottom: 1rem;
	}
	&:before {
		margin-top: 1rem;
	}
	&:active {
		transform: scale(0.95);
	}
}	
@keyframes list_open {
	0% {
		opacity: 0;
		transform: scaleY(0);
	}
	100% {
		opacity: 1;
		transform: scaleY(1);
	}
}
.sidebar__submenu {
	flex: 0 0 100%;
	display: none;
	flex-direction: column;
	overflow: hidden;
	@include response('row-gap', 48, 22, 1);
	padding: 2.8rem 0;
	.sidebar__item {
		padding-left: 0;
		margin: 0;
		a {
			padding: 0;
		}
	}
	&._active {
		display: flex;
		animation: list_open .4s ease;
	}
	&._hide {
		opacity: 0;
		transform: scaleY(0);
		transition: .3s;
	}
}
.sidebar__submenu__v1 {
	background-color: rgba(#fff, 0.05);
	.sidebar__item {
		padding-left: 0;
		margin: 0;
		a {
			@include response('padding-left', 66, 20, 1);
		}
	}
}
.sidebar__submenu__v2 {
	margin-top: 2.8rem;
	background-color: rgba(#fff, 0.04);
	.sidebar__item {
	}
}
// sidebar end