<section class="section section-ready_project">
	<div class="ready_project__wrapper">
		<h1 class="title ready_project__title">Ready Elements</h1>
		<div class="ready_project__items">
			<div class="ready_project__item">
				<div class="ready_project__item__name">Header Menu</div>
				<h2 class="title ready_project__item__title">Responsive Header With Menu Burger, 2 colors</h2>
				<p class="text ready_project__item__text">Адаптивное меню, с выпадающими списками. Микроанимации. Плавная прокрутка к якорю.</p>
				<button class="btn btn_v1 ready_project__item__btn"><a href="menu_burger.html">Перейти</a></button>
			</div>
			<div class="ready_project__item">
				<div class="ready_project__item__name">Accordeon</div>
				<h2 class="title ready_project__item__title">Responsive Accordeon, 2 colors</h2>
				<p class="text ready_project__item__text">Адаптивный аккордеон, с большим и разным контентом.</p>
				<button class="btn btn_v1 ready_project__item__btn"><a href="accordeon.html">Перейти</a></button>
			</div>
			<div class="ready_project__item">
				<div class="ready_project__item__name">Flex</div>
				<h2 class="title ready_project__item__title">Flex Css</h2>
				<p class="text ready_project__item__text">Учебный проект по флексу</p>
				<button class="btn btn_v1 ready_project__item__btn"><a href="flex_practice.html">Перейти</a></button>
			</div>
			<div class="ready_project__item">
				<div class="ready_project__item__name">Video</div>
				<h2 class="title ready_project__item__title">Background Adaptive Slider Video</h2>
				<p class="text ready_project__item__text">Видео слайдер с крутой анимацией</p>
				<button class="btn btn_v1 ready_project__item__btn"><a href="video.html">Перейти</a></button>
			</div>
			<div class="ready_project__item">
				<div class="ready_project__item__name">Slider</div>
				<h2 class="title ready_project__item__title">Super Swiper Slider</h2>
				<p class="text ready_project__item__text">Продвинутый слайдер, сделанный по курсу.</p>
				<button class="btn btn_v1 ready_project__item__btn"><a href="swiper.html">Перейти</a></button>
			</div>
			<div class="ready_project__item">
				<div class="ready_project__item__name">Modal</div>
				<h2 class="title ready_project__item__title">Default Adaptive Modal</h2>
				<p class="text ready_project__item__text">Простое адаптивное модальное окно</p>
				<button class="btn btn_v1 ready_project__item__btn"><a href="modal.html">Перейти</a></button>
			</div>
			<div class="ready_project__item">
				<div class="ready_project__item__name">Tabs</div>
				<h2 class="title ready_project__item__title">Default Adaptive Tabs</h2>
				<p class="text ready_project__item__text">Простые табы с микроанимациями</p>
				<button class="btn btn_v1 ready_project__item__btn"><a href="tabs.html">Перейти</a></button>
			</div>
		</div>
	</div>
</section>